<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
	<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/Pretty-Footer.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/Pretty-Header.css' %}">
</head>
<body>
<nav class="navbar navbar-default custom-header">
		<div class="container-fluid">
			<div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Top<span>Ranker </span> </a>
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav links">
					<li class="active" role="presentation"><a href="{% url 'dashboard'%}">Dashboard </a></li>
					<li role="presentation"><a href="{% url 'problems'%}">Problems </a></li>
					<li role="presentation"><a href="{% url 'contest'%}">Contest </a></li>
					<li role="presentation"><a href="{% url 'leaderboard'%}">Leaderboard </a></li>
					<li role="presentation"><a href="{% url 'contribute'%}">Contribute </a></li>
					<li role="presentation"><a href="{% url 'statistics'%}">Statistics </a></li>
					<li role="presentation"><a href="{% url 'discuss'%}">Discuss </a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
                        {% if user.is_authenticated %}
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span> {{ user.username }}{% if user.userpro.image %} <img src="{{ user.userpro.image.url}}" class="dropdown-image" >{% endif %}</a>
                        {% else %}
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span></a>
                        {% endif %}

						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li role="presentation"><a href="#">Something 1 </a></li>
							<li role="presentation"><a href="#">Something 2 </a></li>
                            {% if user.is_authenticated %}
							<li role="presentation" class="active"><a href="/logout/">Logout </a></li>
                            <li role="presentation" class="active"><a href="">Change</a></li>
                            {% else %}
                            <li role="presentation" class="active"><a href="/login/">Signin </a></li>
                            <li role="presentation" class="active"><a href="/signup/">Signup </a></li>
                            {% endif %}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--<div style="height: 65vh">-->
        <!--<h1> Dashboard</h1>-->
    <!--</div>-->
	<div class="content">
		<div class="container-fluid" id="container-main">
			<div class="row">
				<div class="col-md-8">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<h3>Ongoing Contests</h3>
								<ul id="content-main">
									<li>
										<b>Contest 1 - by SocProcs 2018</b><br>
										<span class="problems">10</span> Problems |
										Prize: $<span class="prize">500</span> |
										Started on <span class="start-date">21 Dec'17</span>
									</li>
									<li>
										<b>Contest 2 - by ICPC 2018</b><br>
										<span class="problems">7</span> Problems |
										Prize: $<span class="prize">500</span> |
										Started on <span class="start-date">16 Dec'17</span>
									</li>
									<li>
										<b>Contest 3 - by NNCC 2018</b><br>
										<span class="problems">8</span> Problems |
										Prize: $<span class="prize">500</span> |
										Started on <span class="start-date">22 Dec'17</span>
									</li>
									<a href="layout (contests).html">More...</a>
								</ul>
							</div>
							<div class="col-md-6">
								<h3>Trending Problems</h3>
								<ul id="content-main">
									<li>
										<b><a href="problems.html">The ABC Challenge</a></b> (102 Trials | 31 Submissions)<br>
										Optimization Problem | Contributed By: John Doe
									</li>
									<li>
										<b><a href="problems.html">DNA Decode</a></b> (69 Trials | 23 Submissions)<br>
										Optimization Problem | Contributed By: Mary Moe
										ions)
									</li>
									<li>
										<b><a href="problems.html">3 Peg Problem</a></b> (53 Trials | 9 Submissions)<br>
										Optimization Problem | Contributed By: July Dooley
									</li>
									<a href="layout (problems).html">More...</a>
								</ul>
							</div>
							<div class="col-md-6">
								<h3>Statistics</h3>
								<ul id="content-main">
									<li>
										<b>203922</b> submissions |
										<b>54815</b> registered users
									</li>
									<li>
										<b>6397</b> problems |
										<b>120</b> Countries |
										<b>20000</b> users from India
									</li>
									<li>
										<b>50000</b> users from Academics |
										<b>4815</b> users from Industry
									</li>
									<li>
										<b>40000</b> UG Students |
										<b>10000</b> PG/PhD Students |
										<b>4815</b> Others
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h3>Top Rankers</h3>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<td>Name</td>
								<td>Country</td>
								<td>Submissions</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John Doe</td>
								<td>USA</td>
								<td>104</td>
							</tr>
							<tr>
								<td>Mary Moe</td>
								<td>UK</td>
								<td>98</td>
							</tr>
							<tr>
								<td>July Dooley</td>
								<td>Austrailia</td>
								<td>102</td>
							</tr>
						</tbody>
					</table>
					<h3>Top Contributors</h3>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<td>Name</td>
								<td>Country</td>
								<td>Submissions</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>John Doe</td>
								<td>USA</td>
								<td>104</td>
							</tr>
							<tr>
								<td>Mary Moe</td>
								<td>UK</td>
								<td>98</td>
							</tr>
							<tr>
								<td>July Dooley</td>
								<td>Austrailia</td>
								<td>102</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col-md-4 col-sm-6 footer-navigation">
				<h3><a href="#">Top<span>Ranker</span></a></h3>
				<div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
				<p class="company-name">Top Ranker © 2015 | All rights reserved</p>
			</div>
			<div class="col-md-4 footer-about">
				<h4>Heading 1</h4>
				<p class="col-xs-6">Company<br>Resources<br>Developers<br>Support<br>More<br></p>
				<p class="col-xs-6">Company<br>Resources<br>Developers<br>Support<br>More<br></p>
			</div>
			<div class="clearfix visible-sm-block"></div>
			<div class="col-md-4 footer-about">
				<h4>Heading 2</h4>
				<p class="col-xs-6">Company<br>Resources<br>Developers<br>Support<br>More<br></p>
				<p class="col-xs-6">Company<br>Resources<br>Developers<br>Support<br>More<br></p>
			</div>
		</div>
	</footer>

	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>